.Funnel {
  @import '../../scss/bootstrap';

  &__heading {
    font-family: 'Roboto-Regular';
    line-height: $spacer;
    font-size: $spacer * 0.875;
  }

  &__backButton {
    position: absolute;
    top: 20px;
    left: 0px;

    @include media-breakpoint-up(md) {
      top: 30px;
      left: 25px;
    }
  }
}
